.container{
  max-width: 120rem;//if the viewport is less than 1200 pixel we will occupy 100% of the viewport width
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex; //parent of the search
  justify-content: space-between;
  align-items: center;


}

//flexcontainer
.content{
  display: flex;
}

.sidebar{
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; //1) flex-grow -> no growth 2) flex-shrink -> no shrink 3) flex-basis
  display:flex;
  flex-direction: column;//Needed to push the copyright to the buttom: reverses the the direction of justify-content (horizontally to vertically) -Y ready to use space between
  justify-content: space-between;

}

.hotel-view{
  background-color: #fff;
  background-color: orangered;
  height: 80rem;
  flex: 1; //elements grows as much as it can in this case 82%
}
